name: CI

# Controls when the workflow will run
on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Testing pipeline
        run: |
          echo 'Starting the pipeline'
          # Making sure we are in the proper folder
          cd JFreeChart_A3
          
          # The Following are needed to run the pipeline
          mkdir bin
          mkdir lib
          
          # The following adds the needed libraries.
          curl https://repo1.maven.org/maven2/javax/servlet/javax.servlet-api/3.0.1/javax.servlet-api-3.0.1.jar
          curl https://repo1.maven.org/maven2/org/jfree/jcommon/1.0.17/jcommon-1.0.17.jar
          
          # From my understanding, this runs the "source code". So we need both DataUtilities and Range.
          javac -d bin/ src/org/jfree/data/DataUtilities.java
          javac -d bin/ src/org/jfree/data/Range.java

          # Starts JUNIT?
          javac -d bin -cp bin:lib/junit-platform-console-standalone-1.5.2.jar test/*

          # Runs JUNIT?
          java -jar lib/junit-platform-console-standalone-1.5.2.jar --class-path bin --scan-class-path
